html,
body
{
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: #fdfd9641;
}
main{
    height: calc(100% - 75px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.counter-header{
    font-size: 80px;
}